streamlit==1.35.0
pandas==2.2.2
prophet==1.1.5
scikit-learn==1.5.0
plotly==5.22.0
streamlit-authenticator==0.3.2
PyYAML==6.0.1
requests==2.31.0
firebase-admin==6.5.0
xgboost==2.1.4
shap
matplotlib
numpy
